body {
     margin: 0;
     padding: 0;
     background-color: #262626;
}
 .search-container {
     display: flex;
    background-color: transparent;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
}
 .search-bar {
     padding: 10px;
     border: none;
     border-radius: 5px;
     font-size: 18px;
     background-color: #424242;
     color: #fff;
     width: calc(100% - 60px);
}
 .movies-container {
     grid-template-columns: repeat(6, 1fr);
     grid-gap: 20px;
     margin: 20px;
     background-color: transparent;
     display: grid;
}
 .movie {
     height: 370px;
     position: relative;
     opacity: 1;
     transition: all 0.5s ease-in-out;
}

.movie.hidden {
  opacity: 0;
  pointer-events: none;
}
 .movie img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 5px;
     box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
 .movie:hover {
     transform: scale(1.1) rotate(-10deg) translateY(-5px);
     box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}
 #iframe-container {
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.5);
     z-index: 9999;
}
 #iframe-container iframe {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     height: 80%;
     width: 80%;
     border: none;
     background-color: white;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
 #iframe-container button {
     position: absolute;
     top: 10px;
     right: 10px;
     font-size: 20px;
     font-weight: bold;
     background-color: transparent;
     border: none;
     color: white;
     cursor: pointer;
}
 #overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     display: block;
}
